services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: wizard_stat_db
      POSTGRES_USER: wizard_user
      POSTGRES_PASSWORD: wizard_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
